@media screen and (max-width: 1000px) {
    .newsBox{
        width:calc(100% - 40px);
        padding:0 20px 40px;
        flex-wrap:wrap;
        .engineer{
            width:100%;
            h2{
                font-size:1.4em;
                color:white;
                margin-bottom:20px;
                a{
                    font-size:0.6em;
                    color:white;
                    text-decoration:none;
                    &:hover{
                        text-decoration:underline;
                    }
                }
            }
            .blogLine{
                text-decoration:none;
                padding:20px 0;
                border-bottom:1px solid white;
                &:hover .element .title{
                    text-decoration:underline;
                }
                .dateCircle{
                    width:75px;
                    height:75px;
                    margin-right:20px;
                    border:1px dashed white;
                    border-radius:50%;
                    color:white;
                    font-size:0.6em;
                    .dateCircleInner{
                        text-align:center;
                        div{
                            color:white;
                        }
                    }
                }
                .element{
                    width:calc(100% - 95px);
                    .title{
                        font-size:1.1em;
                        font-weight:bold;
                        padding-bottom:5px;
                        color:white;
                    }
                    .description{
                        color:white;
                        font-size:0.9em;
                        padding-bottom:5px;
                    }
                    .user{
                        color:white;
                        font-size:0.9em;
                    }
                }
            }
        }
        .news{
            width:calc(50% - 40px);
            padding:40px 0 40px 40px;
            h2{
                font-size:1.4em;
                margin-bottom:20px;
                color:white;
            }
            .newsLine{
                text-decoration:none;
                margin-bottom:20px;
                &:hover .element .title{
                    text-decoration:underline;
                }
                .dateCircle{
                    width:75px;
                    height:75px;
                    margin-right:20px;
                    border:1px dashed white;
                    border-radius:50%;
                    color:white;
                    font-size:0.6em;
                    .dateCircleInner{
                        text-align:center;
                        div{
                            color:white;
                        }
                    }
                }
                .element{
                    width:calc(100% - 95px);
                    .title{
                        font-size:1.1em;
                        font-weight:bold;
                        padding-bottom:5px;
                        color:white;
                    }
                    .description{
                        color:white;
                        font-size:0.9em;
                        padding-bottom:5px;
                    }
                    .user{
                        color:white;
                        font-size:0.9em;
                    }
                }
            }
        }
    }
    .more{
        padding:7px 40px;
        border:1px solid white;
        color:white;
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
    }
    .en-wrap{
        margin-bottom:20px;
    }
}
